<div class="wrapper">


    <label class="container" *ngFor="let status of statusLists">
        <input type="checkbox" [(ngModel)]="status.selected" [value]="status.status"> <span
            class="label-text">{{status.status}}</span>
    </label>
    <select (change)="onChange($event.target.value)"> >
        <option value="">Select</option>
        <option value="01">1</option>
        <option value="03">3</option>
        <option value="07">7</option>
    </select>
    <div class="table">

        <div class="row header blue">
            <div class="cell" *ngFor="let title of tableHeader">
                {{title}}
            </div>
            
        </div>
   
        <div class="row" *ngFor="let data of tableData | filterPipe:selectedStatus | filterByTh:selectedTh">
            <div class="cell">
                {{data.date}}
            </div>
            <div class="cell" data-title="Email">
                {{data.th}}
            </div>
            <div class="cell" data-title="Password">
                {{data.code}}
            </div>
            <div class="cell" data-title="Active">
                {{data.surface}}
            </div>
            <div class="cell" data-title="Active">
                {{data.procedureDescription}}
            </div>
            <div class="cell" data-title="Active">
                {{data.planType}}
            </div>
            <div class="cell" data-title="Active">
                {{data.visit}}
            </div>
            <div class="cell" data-title="Active">
                {{data.status}}
            </div>
            <div class="cell" data-title="Active">
                {{data.provider}}
            </div>
            <div class="cell" data-title="Active">
                {{data.office}}
            </div>
            <div class="cell" data-title="Active">
                {{data.dos}}
            </div>
        </div>

    </div>

</div>